@import 'bootstrap-utilities';
@import 'colors';
@import 'main';

.a-home {
  padding: 1rem;
  height: calc(100vh - 2rem);


  .content {
    height: calc(100% - 175px);
    overflow: auto;
    padding: 1rem;
  }

  .user-input {
    textarea {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .a-button {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

.a-button {
  background-color: transparent;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 20px;
  border: 1px solid $primary;
  transition: background-color 0.3s ease, color 0.3s ease,
  border-color 0.3s ease;

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: lighten($primary, 40%);
    cursor: not-allowed;
  }

  &.primary {
    background-color: $primary;
    color: $secondary;
  }

  &.secondary {
    color: $primary;
  }

  &:hover {
    background-color: darken($primary, 10%);
    border-color: $secondary;
  }

  &:active {
    background-color: darken($primary, 20%);
  }
}

.a-input {
  &__wrapper {
    width: fit-content;
    position: relative;

    input + label {
      transition: all 0.3s;
    }

    input {
      background-color: transparent;
      box-shadow: none;
      outline: none;
      border: 1px solid $primary;
      border-radius: 5px;
      color: $primary;
      font-size: 20px;
      padding: 10px;

      &:focus + label,
      &:not(:placeholder-shown) + label,
      &.active + label {
        top: -14px;
        left: 6px;
        z-index: 1;
        font-size: 16px;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-text-fill-color: $primary;
        transition: background-color 5000s ease-in-out 0s;
      }
    }

    label {
      z-index: -1;
      top: 10px;
      left: 6px;
      position: absolute;
      background-color: $secondary;
      padding: 0 5px;
      font-size: 20px;
      color: $primary;
    }
  }
}


.a-post {
  width: max-content;
  min-width: 20%;
  max-width: 50%;
  border: 1px solid $primary;
  color: $primary;
  border-radius: 5px;
  padding: 16px;

  label {
    font-weight: 300;
    font-size: 13px;
  }
}


.a-tabs {
  background-color: black;
  width: fit-content;
  border-radius: 8px;

  .tab {
    color: $primary;
    cursor: pointer;
    padding: 12px 32px;

    &__selected {
      background-color: $primary;
      color: black;
      border-radius: 8px;
    }
  }
}


.a-text-area {
  width: fit-content;

  textarea {
    width: 20vw;
    resize: none;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: 1px solid darken($primary, 10%);
    color: $primary;
    border-radius: 5px;
    padding: 16px;
    transition: border 0.2s;
  }

  textarea:focus {
    border-color: $primary;
  }
}