html {
  background-color: $secondary;
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
}
body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($primary, 10%);
}

.c-primary {
  color: $primary;
}

.pointer {
  cursor: pointer;
}


