---
import AInput from '../components/AInput.astro'
import APage from '../components/APage.astro'
import ATabs from '../components/ATabs.astro'
import AButton from '../components/AButton.astro'
import ATextArea from '../components/ATextArea.astro'
---
<html>
<head>
	<meta charset="UTF-8">
	<script src="/src/parser.js"></script>
	<script src="//unpkg.com/alpinejs" defer></script>
</head>
</html>
<div class="a-home">
	<div
		class="w-100 d-flex justify-content-around align-items-center"
	>
		<ATabs additionalClass="w-100 justify-content-between" options={["Moto", "Sport", "Programowanie"]}/>

	</div>
	<div class="content">
		<APage>

		</APage>
	</div>
	<div>
		<div
			style="right: 0; width: fit-content"
			class="ml-auto py-3 ms-auto d-flex user-input"
		>
			<ATextArea :rows="2" v-model="newPostValue"/>
			<AButton @click="send">Send</AButton>
		</div>
	</div>

</div>
<style lang="scss">
  @import '../styles/_global.scss';

  .a-home {
	  padding: 1rem;
	  height: calc(100vh - 2rem);


	  .content{
		  height: calc(100% - 175px);
		  overflow: auto;
		  padding: 1rem;
	  }

    .user-input {
      textarea {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .a-button {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }


</style>