<div class="a-post d-flex flex-column gap-3">
    <span class="d-flex justify-content-between">
      <label>
        label
      </label>
      <label>
        createdAt
      </label>
    </span>
	<div class="content">
      content
	</div>
</div>


<style lang="scss">
  @import '../styles/_global.scss';
  .a-post {
    width: max-content;
    min-width: 20%;
    max-width: 50%;
    border: 1px solid $primary;
    color: $primary;
    border-radius: 5px;
    padding: 16px;

    label {
      font-weight: 300;
      font-size: 13px;
    }
  }
</style>
