---

---
<div class="a-text-area">
	<span class="d-flex">
      <textarea />
    </span>
</div>
<style lang="scss">
  @import "../styles/_global.scss";
  .a-text-area {
    width: fit-content;

    textarea {
      width: 20vw;
      resize: none;
      background-color: transparent;
      box-shadow: none;
      outline: none;
      border: 1px solid darken($primary, 10%);
      color: $primary;
      border-radius: 5px;
      padding: 16px;
      transition: border 0.2s;
    }

    textarea:focus {
      border-color: $primary;
    }
  }
</style>
